:root{
    --cor-principal: #111;
    --cor-secundaria: #00A0BA;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background: var(--cor-principal);
    padding: 15px 0px ;
}

.logo{
    width: 140px;
}

.caixa-cabecalho{
    position: relative;
    width: 90%;
    margin: 0 auto;

}

nav{
    position: absolute;
    top: 40%;
    right: 0;
}

nav li{
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

nav a:hover{
    color: var(--cor-secundaria);
    border-bottom: 2px solid  var(--cor-secundaria);  
}

.banner{
    width: 100%;
    margin: 0;
    padding: 0;
}

.conteudo{
    margin: 1rem;
    background: #FEFEFE;
}

.conteudo, .conteudo-texto, .titulo-principal{
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.conteudo p{
    margin: 0 0 1rem;
    text-align: left; 
}

.conteudo strong{
    font-weight: bold;
}

.conteudo em{
    font-style: italic;
}

/**Seleciona todos os strong que estão dentro da tag em**/
em strong{
    color: #CFA75C;
}

.utensilios{
    width: 120px;
    float: left;
    margin: 0px 25px 25px 0px;

}
/*Top, right, bottom and left*/
.conteudo-texto{
    padding-bottom: 2rem;
}

.titulo-principal{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem 0 2rem 0;
    
}

.missao{
    font-size: 1rem;
    line-height: 1;
}

.item_da_lista{
  line-height: 1.5;
}

.item_da_lista:before{
    content: "❆";
    color:  var(--cor-secundaria);
    margin-right: 5px;
}

.item_da_lista:first-child{
    font-weight: bold;
}

.beneficios{
    background: var(--cor-principal);
    color: white;
    margin: 1rem auto;
    padding-bottom: 2rem;
    text-align: center;
}

.beneficios, .titulo-principal{
    padding-top: 1rem;
}

.conteudo-beneficios{
    width: 640px;
    text-align: center;
    margin: auto;
}

.lista_beneficios{
    vertical-align: top;
    display: inline-block;
    width: 40%;
    margin-right: 5%;
    text-align: left;
}

.img_beneficios{
    width: 50%;
    border: 5px solid  var(--cor-secundaria);
}


.video{
    width: 50%;
    margin: 1em auto;
    padding-top: 3rem;
    
}

.conteudo-texto{
    text-align: center;
}


.mapa{
    text-align: center;
    padding-bottom: 3rem;
}

.mapa p {
    margin: 0 0 2rem;
}

footer{
    padding: 40px 0;
    text-align: center;
    background-image: url(img/servicos/bg.jpg);
}

.copy{
    color: white;
    font-size: 13px;
    margin-top: 15px;
}

@media screen and (max-width: 480px) {
    header{
        text-align: center;
    }


    .logo{
        padding-top: 10px;
        padding-bottom: 20px;
        width: 80px;
    }
    
    .video{
        width: 100%;
    }

    .conteudo-beneficios{
        width: 100%;
        
    }

    .conteudo-texto{
        padding: 1rem;
        
    }

    .lista_beneficios{
        width: 90%;
        display: block;
        margin-left: 1rem;
        margin-bottom: 20px;
    }

    .img_beneficios{
        width: calc(100% - 10px);
    }
    h1{
        text-align: center;
    }

    nav{
        position: static;
    }

    nav a {
        font-size: 1.2rem;
        margin: auto;
    }

    .utensilios{
        display: none;
        margin-left: 1rem;
    }
}